@model WEB_2023.Models.Auth.SignUpModel;
@{
    ViewData["Title"] = "Xác thực tài khoản";
    var currentPath = Context.Request.Path;
    var status = TempData["ConfirmStatus"]?.ToString();
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-8 col-sm-8">
            <div class="edit-profile">
                <div class="edit-profile__logos">
                    <a href="index.html">
                        <img class="dark" src="/img/Logo-Hori.png" alt="">
                        <img class="light" src="/img/Logo-Hori-White.png" alt="">
                    </a>
                </div>
                <div class="card border-1">
                    <div class="card-header">
                        <div class="edit-profile__title">
                            <h6>Đăng ký tài khoản</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (status == "success")
                        {
                            <div class="dm-notice__icon bg-success">
                                <i class="fas fa-check color-white"></i>
                            </div>
                            <div class="dm-notice__text text-center">
                                <h4>Xác thực tài khoản thành công!</h4>
                                <ul>
                                    <li>Cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi, bây giờ bạn đã có thể đăng nhập
                                        để sử
                                        dụng các dịch vụ có sẵn!</li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="dm-notice__icon bg-danger">
                                <i class="fas fa-times color-white"></i>
                            </div>
                            <div class="dm-notice__text text-center">
                                <h4>Vui lòng xác thực tài khoản để sử dụng!</h4>
                                <ul>
                                    <li>Vui lòng kiểm tra thông tin xác thực được gửi qua địa chỉ email bạn đã đăng ký</li>
                                    <li>Nếu vẫn tiếp tục gặp sự cố, liên hệ với chúng tôi để được hỗ trợ</li>
                                </ul>
                            </div>
                        }
                    </div><!-- End: .card-body -->
                    @if (status == "success")
                    {
                        <div class="admin-topbar">
                            <p class="mb-0">
                                <a asp-asp-controller="Account" asp-action="Login" class="color-primary">
                                    Đăng nhập ngay
                                </a>
                            </p>
                        </div>

                        <!-- End: .admin-topbar  -->
                    }
                </div><!-- End: .card -->
            </div><!-- End: .edit-profile -->
        </div><!-- End: .col-xl-5 -->
    </div><!-- End: .admin-element  -->
</div><!-- End: .container-fluid -->