@model WEB_2023.Models.Auth.ForgetPasswordModel;
@{
    ViewData["Title"] = "Quên mật khẩu";
    var status = TempData["status"]?.ToString();
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-8 col-sm-8">
            <div class="edit-profile">
                <div class="edit-profile__logos">
                    <a href="index.html">
                        <img class="dark" src="/img/Logo-Hori.png" alt="">
                        <img class="light" src="/img/Logo-Hori-White.png" alt="">
                    </a>
                </div>
                <div class="card border-1">
                    <div class="card-header">
                        <div class="edit-profile__title">
                            <h6>Đặt lại mật khẩu cho tài khoản</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (status == "success")
                        {
                            <div class="dm-notice__icon bg-success">
                                <i class="fas fa-check color-white"></i>
                            </div>
                            <div class="dm-notice__text text-center">
                                <h4>Hệ thống đã tiếp nhận yêu cầu của bạn!</h4>
                                <ul>
                                    <li>Chúng tôi đã gửi email chứa liên kết xác thực đến địa chỉ email của bạn</li>
                                </ul>
                            </div>
                        }
                        else
                        {

                            <form id="forget-form" class="edit-profile__body" asp-controller="Account"
                                asp-action="ForgetPassword" method="POST">
                                @Html.AntiForgeryToken()
                                <div class="form-group mb-20">
                                    <label asp-for="Email">Địa chỉ Email</label>
                                    <input required asp-for="Email" type="text" class="form-control rounded-pill" id="email"
                                        placeholder="Nhập email bạn đã dùng để đăng ký tài khoản">
                                </div>
                                <div asp-validation-summary="ModelOnly"
                                    class="text-center text-danger error-message text-small mb-10">
                                </div>
                                <div class="spin-embadded loading-element">
                                    <div class="admin__button-group button-group d-flex pt-1 justify-content-md-start justify-content-center"
                                        role="alert">
                                        <button type="submit"
                                            class="btn btn-primary rounded-pill btn-default w-100 btn-squared lh-normal px-50 signIn-createBtn"
                                            id="submit-btn">
                                            Đặt lại mật khẩu
                                        </button>
                                        <div class="loaded-spin text-center">
                                            <div class="dm-spin-dots spin-sm">
                                                <span class="spin-dot badge-dot dot-primary"></span>
                                                <span class="spin-dot badge-dot dot-primary"></span>
                                                <span class="spin-dot badge-dot dot-primary"></span>
                                                <span class="spin-dot badge-dot dot-primary"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                    </div><!-- End: .card-body -->
                    <div class="admin-topbar">
                        <p class="mb-0">
                            Bạn chưa có tài khoản?
                            <a asp-action="Signup" asp-controller="Account" class="color-primary">
                                Đăng ký
                            </a>
                        </p>
                    </div><!-- End: .admin-topbar  -->
                </div><!-- End: .card -->
            </div><!-- End: .edit-profile -->
        </div><!-- End: .col-xl-5 -->
    </div><!-- End: .admin-element  -->
</div><!-- End: .container-fluid -->
<div id="overlayer">
    <div class="loader-overlay">
        <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </div>
</div>
<div class="enable-dark-mode dark-trigger">
    <ul>
        <li>
            <a>
                <i class="uil uil-moon"></i>
            </a>
        </li>
    </ul>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const email = document.getElementById("email");
        const loadingElement = document.querySelector('.loading-element');
        const forgetForm = document.getElementById("forget-form");
        const submitBtn = document.getElementById("submit-btn");
        const error = document.querySelector('.error-message');
        if (error && error.textContent !== '') {
            email?.addEventListener('input', () => {
                error.textContent = '';
            });
        }
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
        forgetForm?.addEventListener("submit", async (e) => {
            submitBtn.classList.add("disabled");
            submitBtn.textContent = "";
            submitBtn.style.opacity = "0.1";
            loadingElement.classList.add("spin-active");
            setTimeout(() => {
                submitBtn.classList.remove("disabled");
                submitBtn.style.opacity = "1";
                submitBtn.innerText = "Đăng nhập";
                loadingElement.classList.remove("spin-active");
            }, 6000);
        });
    });
</script>