@model WEB_2023.Models.Auth.ResetPasswordModel;
@{
    ViewData["Title"] = "Thiết lập mật khẩu mới";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-8 col-sm-8">
            <div class="edit-profile">
                <div class="edit-profile__logos">
                    <a href="index.html">
                        <img class="dark" src="/img/Logo-Hori.png" alt="">
                        <img class="light" src="/img/Logo-Hori-White.png" alt="">
                    </a>
                </div>
                <div class="card border-1">
                    <div class="card-header">
                        <div class="edit-profile__title">
                            <h6>Thiết lập mật khẩu mới cho tài khoản</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="forget-form" class="edit-profile__body" asp-controller="Account"
                            asp-action="ResetPassword" method="POST">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="Token" value="@Model.Token.ToString()" />
                            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                            <div class="form-group mb-20">
                                <label asp-for="Password">Mật khẩu mới</label>
                                <div class="position-relative">
                                    <input required id="password-field1" asp-for="Password" type="password"
                                        class="rounded-pill form-control" placeholder="Nhập mật khẩu mới">
                                    <div class="uil uil-eye-slash text-lighten fs-15 field-icon toggle-password1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-20">
                                <label asp-for="ConfirmPassword">Nhập lại mật khẩu mới</label>
                                <div class="position-relative">
                                    <input required id="password-field2" asp-for="ConfirmPassword" type="password"
                                        class="rounded-pill form-control" placeholder="Nhập lại mật khẩu mới">
                                    <div class="uil uil-eye-slash text-lighten fs-15 field-icon toggle-password2">
                                    </div>
                                </div>
                            </div>
                            <div asp-validation-summary="ModelOnly"
                                class="text-center text-danger error-message text-small mb-10">
                            </div>
                            <div class="spin-embadded loading-element">
                                <div class="admin__button-group button-group d-flex pt-1 justify-content-md-start justify-content-center"
                                    role="alert">
                                    <button type="submit"
                                        class="btn btn-primary rounded-pill btn-default w-100 btn-squared lh-normal px-50 signIn-createBtn"
                                        id="submit-btn">
                                        Xác nhận
                                    </button>
                                    <div class="loaded-spin text-center">
                                        <div class="dm-spin-dots spin-sm">
                                            <span class="spin-dot badge-dot dot-primary"></span>
                                            <span class="spin-dot badge-dot dot-primary"></span>
                                            <span class="spin-dot badge-dot dot-primary"></span>
                                            <span class="spin-dot badge-dot dot-primary"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!-- End: .card-body -->
                    <div class="admin-topbar">
                        <p class="mb-0">
                            Bạn đã có tài khoản?
                            <a asp-action="Login" asp-controller="Account" class="color-primary">
                                Đăng nhập
                            </a>
                        </p>
                    </div><!-- End: .admin-topbar  -->
                </div><!-- End: .card -->
            </div><!-- End: .edit-profile -->
        </div><!-- End: .col-xl-5 -->
    </div><!-- End: .admin-element  -->
</div><!-- End: .container-fluid -->
<div id="overlayer">
    <div class="loader-overlay">
        <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </div>
</div>
<div class="enable-dark-mode dark-trigger">
    <ul>
        <li>
            <a>
                <i class="uil uil-moon"></i>
            </a>
        </li>
    </ul>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const email = document.getElementById("email");
        const loadingElement = document.querySelector('.loading-element');
        const forgetForm = document.getElementById("forget-form");
        const submitBtn = document.getElementById("submit-btn");
        const error = document.querySelector('.error-message');
        if (error && error.textContent !== '') {
            email?.addEventListener('input', () => {
                error.textContent = '';
            });
        }
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
        forgetForm?.addEventListener("submit", async (e) => {
            submitBtn.classList.add("disabled");
            submitBtn.textContent = "";
            submitBtn.style.opacity = "0.1";
            loadingElement.classList.add("spin-active");
            setTimeout(() => {
                submitBtn.classList.remove("disabled");
                submitBtn.style.opacity = "1";
                submitBtn.innerText = "Đăng nhập";
                loadingElement.classList.remove("spin-active");
            }, 6000);
        });
    });
</script>