<section class="footer-section container-section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-sm-12 col-lg-4 col-xl-4">
                <div class="footer-box-item footer-info-box">
                    <div class="footer-logo">
                        <img class="footer-logo-image" src="https://bizweb.dktcdn.net/100/450/748/themes/872052/assets/logo.png?1696839031859" />
                    </div>
                    <p class="footer-title">Hãy sống trọn vẹn mỗi ngày Một cuộc sống tuyệt vời đôi khi bắt nguồn từ chính chúng ta. Cuộc sống đẹp hơn khi ta tự tin hơn với bản thân. Khi ta yêu bản thân nhiều hơn. Mỗi ngày chăm sóc bản thân chính là bí quyết giúp người phụ nữ trở nên lạc quan tự tin.</p>
                    <h4 class="footer-header mt-3">Thông tin liên hệ</h4>
                    <p class="footer-title">Địa chỉ 1: <span>36, Hà Huy Tập, Thành phố Vinh, Nghệ An</span></p>
                    <p class="footer-title">Địa chỉ 2: <span>20, Nguyễn Văn Cừ, Thành phố Vinh, Nghệ An</span></p>
                    <p class="footer-title">Email: <span>Web2023@gmail.com </span></p>
                    <p class="footer-title">Điện thoại: <span>0867168267</span></p>
                    <p class="footer-title">Website: <span>Web2023</span></p>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4 col-xl-4">
                <div class="footer-box-item">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xl-6">
                            <div class="footer-box-item">
                                <h4 class="footer-header mt-3">Đường dẫn nhanh</h4>
                                <ul class="footer-category mt-5">
                                    <li class="footer-category-item"><a class="" href="">Trang chủ</a></li>
                                    <li class="footer-category-item"><a class="" href="">Giới thiệu</a></li>
                                    <li class="footer-category-item"><a class="" href="">Sản phẩm</a></li>
                                    <li class="footer-category-item"><a class="" href="">Bài viết</a></li>
                                    <li class="footer-category-item"><a class="" href="">Liên hệ</a></li>
                                    <li class="footer-category-item"><a class="" href="">Tài khoản của tôi</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12 col-xl-6">
                            <div class="footer-box-item">
                                <h4 class="footer-header mt-3">Danh mục sản phẩm</h4>
                                <ul class="footer-category mt-5">
                                    <li class="footer-category-item"><a class="" href="">Thời trang nam</a></li>
                                    <li class="footer-category-item"><a class="" href="">Thời trang nữ</a></li>
                                    <li class="footer-category-item"><a class="" href="">Đồng hồ</a></li>
                                    <li class="footer-category-item"><a class="" href="">Túi xách</a></li>
                                    <li class="footer-category-item"><a class="" href="">Mỹ phẩm</a></li>
                                    <li class="footer-category-item"><a class="" href="">Phụ kiện thời trang</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-lg-4 col-xl-4">
                <div class="footer-box-item">
                    <h4 class="footer-header mt-3">Nhận thông tin khuyến mãi</h4>
                    <form class="mt-5">
                        <div class="form-group">
                            <label class="footer-title">Hỗ trợ khách hàng 24/7</label>
                            <input class="form-control" placeholder="Nhập email của bạn..." />
                        </div>
                        <button class="btn btn-primary w-100" type="submit">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>