<div class="sidebar-box">
	<div class="search-box">
		<div class="search-input">
			<input class="search-text" placeholder="Nhập thông tin tìm kiếm..." />
			<span class="search-icon"><i class="fa fa-search"></i></span>
		</div>
	</div>
	<div class="category-box">
		<h4 class="sidebar-header-title text-center">Danh mục</h4>
		<ul class="list-category sidebar_nav">
			<li class="has-child">
				<a href="#" class="">
					<span class="nav-icon uil uil-create-dashboard"></span>
					<span class="menu-text">Quần áo</span>
					<span class="toggle-icon"></span>
				</a>
				<ul style="display: none;">
					<li class="">
						<a href="/">Áo sơ mi nam</a>
					</li>
					<li class="">
						<a href="/">Áo khoác nam</a>
					</li>
					<li class="">
						<a href="/">Váy nữ</a>
					</li>
					<li class="">
						<a href="/">Áo ấm</a>
					</li>
				</ul>
			</li>
			<li class="has-child">
				<a href="#" class="">
					<span class="nav-icon uil uil-create-dashboard"></span>
					<span class="menu-text">Quần áo</span>
					<span class="toggle-icon"></span>
				</a>
				<ul style="display: none;">
					<li class="">
						<a href="#">Áo sơ mi nam</a>
					</li>
					<li class="">
						<a href="#">Áo khoác nam</a>
					</li>
					<li class="">
						<a href="#">Váy nữ</a>
					</li>
					<li class="">
						<a href="#">Áo ấm</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" class="active">
					<span class="nav-icon uil uil-chat"></span>
					<span class="menu-text">Túi xách</span>
				</a>
			</li>
			<li>
				<a href="#" class="active">
					<span class="nav-icon uil uil-chat"></span>
					<span class="menu-text">Đồng hồ</span>
				</a>
			</li>
		</ul>

	</div>
	<div class="product-box">

		<h4 class="sidebar-header-title text-center">Sản phẩm nổi bật</h4>
		<div class="product-list">
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>


			<div class="read-more-btn">
				<a href="" class="">Xem Thêm</a>
			</div>
		</div>

	</div>
	<div class="product-box">
		<h4 class="sidebar-header-title text-center">Sản phẩm vừa xem</h4>
		<div class="product-list">
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>
			<div class="product-item">
				<div class="product-image">
					<a href=""><img src="/img/digital-chair.png" style="width: 100%" /></a>
				</div>
				<div class="product-info">
					<h4 class="product-name"><a href="">ten san pham ten san pham ten san pham</a></h4>
					<div class="price">
						<span class="product-old-price">120.000 d</span>
						<span class="product-new-price">100.000 d</span>
					</div>
				</div>
			</div>


			<div class="read-more-btn">
				<a href="" class="">Xem Thêm</a>
			</div>
		</div>
	</div>
</div>